<style>
    .ball{
        background:red;
        width:150px;
        height:150px;
        border-radius: 100%;
        position:absolute;
    }
</style>


<html>
    <div class="ball"></div>
</html>


<script>
    const ball = document.getElementsByClassName('ball')[0];
    console.log(ball)
    



</script>
